@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
  font-family: "Crimson Text", serif;
  color: #d4b483;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}