@use "core/reset";
@use "core/variables";
@use "core/base";

@use 'pages/Inicio';
@use 'pages/LaraCroft';
@use 'pages/ElJuego';
@use 'pages/Galeria';
@use 'pages/SobreMi';
@use 'pages/GaleriaDetalle';
@use 'pages/ElJuegoDetalle';

.bg-image {
  background-image: url("/src/images/JopqaeT.jpg");
  background-size: 100%;
  background-repeat: no-repeat; /* Evita que se repita */
  background-position: center;  /* Centra la imagen */
}

.header {
  font-family: "Cinzel", serif;
  color: #d4b483;
  background-color: #0e0b05;

  .title {
    line-height: 4rem;
    padding-inline: 2rem;
  }

  .sub-title {
    padding-inline: 2rem;
    padding-bottom: 0.5rem;
  }
}

.franja-bajo-header {
  background-image: url("/src/images/franja-bajo-header.png");
  height: 40px;
  border: solid #6a5420;
  /*margin: 2rem, 0rem, 2rem,;*/
}



.nav_bar {
  font-family: "Cinzel", serif;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.tab {
  padding: 0.5rem 1rem;
  text-align: center;
  border: solid #6a5420;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 1px;
  
  /*Revisar como hacer que no tenga estilos de link, o engañar al
  puntero con js*/
}

.contents_page {
  background-image: url("../images/JopqaeT.jpg");
  background-size: cover;
  background-position: center 30%;
  padding: 1rem;
  min-height: calc(100vh - 120px);
}
